body{
    color: #ffffff;
    background: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.747)), url('../images/vec.jpg');
    background-size: cover;
}
.navbar-brand img{
    height: 50px;
    width: 100px;
}

.nav-link{
    color: #fff;
}

.navbar{
    background-color: #1e2130;
    height: 90px;
}

.navbar-nav .nav-link{
    font-weight: 500;
    color: white; /* White text color */
}

#outer {
    width: 100%;
    height: 70vh;
    display: flex;
}
  
#inner {
    margin: auto;
}

.container{
    line-height: 0.2; 
    letter-spacing: 0.001em;
} 
.container p{
    margin: auto;
    margin-left: 160px;
    color: #ffffff;
    letter-spacing: 0.3em;
}

span{
    margin-left: 140px;
}
.container h1{
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
}

.domain-form .form-group{
    margin-top: -100px;
}  

.domain-form .form-group {
    margin-left: 180px;
    border: 1px solid #353b5c;
    padding: 20px;
    width: 60%;
}

.domain-form .form-group input {
    height: 70px !important;
    border: transparent;
    border-radius: 40px;
}
    
.form-control {
    height: 52px !important;
    width: 100%;
    background: #fff !important;
    color: #3a4348 !important;
    font-size: 18px;
    border-radius: 20px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
    
.px-4{
    padding-left: 1rem !important;
}
    
.domain-form .form-group .search-domain {
    background: #1e2130;
    border: 2px solid #1e2130;
    border-radius: 25px;
    color: #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    border-radius: 100px;
}
    
.domain-price span {
    color: #3a4348;
    margin: 0 10px;
}
    
.domain-price span small {
    color: #16161d;
}

